/* About.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
  }
  
  h2 {
    color: #555;
    margin-top: 30px;
  }
  
  p {
    color: #777;
    line-height: 1.5;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  .main {
    margin: 10px 100px 100px 100px;
  }
  /* Add more CSS styles as needed */
  